<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<h2 th:text="${result}"></h2>
<form action="/add">
    <input type="text" name="t1"><br>
    <input type="text" name="t2"><br>
    <input type="submit"><br>
</form>
</body>
</html>