<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello springy</title>
</head>
<body>
    <h1>Welcome</h1>
    <h2 th:text="${message}"></h2>
    <a href="/rest">Take a Rest</a>
</body>
</html>